{% extends "base.html" %}

{% block title %}Assign Terminal{% endblock title %}

{% block content %}
<a href="/select_terminal/">
    <button type="button">Cancel and go Back to Terminal Selection</button>
</a>

<br />
<br />

<p>
Enter Purchase Details
</p>

<form name="input" id="assignmentForm" action="{% url setTerminal terminal=terminal %}" method="post">
{% csrf_token %}

<script type="text/javascript">
$(document).ready(function() {
    $("form#assignmentForm").submit(function () {
        $("p#timeErrorBox").hide();
        var h = $("input#hoursField").val();
        var m = $("input#minutesField").val();

        if (h || m) {
           if(h.match(/^[0-9]*$/) && h.match(/^[0-9]*$/)) {
                return true;
           } else {
                $("p#timeErrorBox").text("Hours and minutes must be whole numbers");
                $("p#timeErrorBox").show();
                return false;
           }
        } else {
            $("p#timeErrorBox").text("You must enter a time");
            $("p#timeErrorBox").show();
            return false;
        }
    });
    $("p#timeErrorBox").hide();
});
</script>

Time:
<br />
<input type="text" name="hours" id="hoursField"> Hours
<input type="text" name="minutes" id="minutesField"> Minutes
<p id="timeErrorBox" style="color:red;"></p>
<br />
<br />

Rate:
<br />

<select name="rate">
  <option value="base">Base: $2/h</option>
  <option value="promotion">Promotion: S1.50/h</option>
  <option value="happyHour">Happy Hour $1.00/h</option>
  <option value="free">FREE $0.00/h</option>
</select>
<br />
<br />

Discount:
<br />

<input type="radio" name="discount" value="none" checked>None
<br />

<input type="radio" name="discount" value="flatamount">Flat Amount (CND)
<input type="text" name="amount">
<br />

<input type="radio" name="discount" value="percentage">Percentage (%)
<input type="text" name="percent">

<br />
<br />
<input type="submit" value="Confirm">
</form>
{% endblock content %}
