{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% block report_header %}
    <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Generate Report"/>
    </form>
    {% endblock report_header %}
    {% block results %}
    <table class="report-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Terminal</th>
                <th>Revenue</th>
            </tr>
        </thead>
        <tbody>
            {% for a in assignment_list %}
            <tr>
                <td>{{ a.created }}</td>
                <td>{{ a.terminal.name }}</td>
                <td>{{ a.cost }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        Number of Assignments: {{ assignment_list.count }}<br/>
    </div>
    {% endblock results %}
    {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&lt; previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next &gr;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock content %}
